@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .before-stroke::before {
    -webkit-text-stroke: 0.09em #563a1f;
  }
}
*{
  margin: 0;
  padding: 0;
  color: #f7f0e0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
  
}

html,body{
  height: 100%;
  width: 100%;
}
body{

  overflow-x: hidden;
}
